@charset "UTF-8";


/*  Custom ------------------------------------------------------------------- */

html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #FFF;
	color: #444;
	font: normal 85% sans-serif;
	/* line-height: 1.5; */
}

div.footer {
	text-align:center;
	margin: 10px 0 10px 0;
}

div.footer p {
	margin:0;
}

div.footer a:hover {color: #000;}

a:focus,a:hover {color: #039;}
a {
	color: #456;
	text-decoration: none;
}
a:hover {text-decoration: underline;}

.left,.alignleft {float: left;}

.no-border {
	border-style: none;
}

a {
	text-decoration: underline !important;
}

button.red span {
	color:#fc5252;
}

 #top div.ui-layout-unit-content.ui-widget-content {
 overflow:hidden;}
 
 div.title {
 text-align:center;
 margin-bottom:50px;
 }
 
 /*  Font-Awesome Fix ------------------------------------------------------------------- */

.ui-icon.fa {
     text-indent:0px;
     background-image:none;
     font-size: initial;
}

 
 body{margin:0px; height:100%; overflow-x:hidden; overflow-y:auto; background-color:#20272a; font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;}

/** ClearFix **/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* override */
.ui-widget {
    font-size: 90%;
}

